body {
    font:12px arial;
    color: black;
    text-align:center;
    padding:35px; 
    text: 100px;
}

form, p, span {
    margin:0;
    padding:0;
}

input { font:12px arial; }

#wrapper{
    margin:0 auto;
    padding-bottom:25px;
    background:grey;
    height:600px;
    width:800px;
    border:1px solid black;
}

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:white;
    height:550px;
    width:750px;
    border:1px solid black;
    overflow-y:auto;
}

#message {
    width:395px;
    border:1px solid black;
}

#message_display { width:395px; }
#submit { width: 60px; }
#bottom { margin:0 0 0px 0; }

a:link { color: grey; }
a:visited { color: black; }
a:hover { color: hotpink; }
a:active { color: blue; }
